* {
  font-family: "Barlow Condensed", sans-serif;
}
body {
  background-color: #c9eff9;
}
header {
  padding-left: 20px;
}
h2 {
  padding-left: 20px;
  font-size: 30px;
}
h3 {
  padding-left: 20px;
  font-size: 30px;
}
ul {
  padding-right: 20px;
  text-decoration: underline;
}

header {
  flex-direction: column-reverse;
  font-size: 60px;
  font-size: bold;
}

.banner {
  height: 200px;
  width: 100%;
  background-image: url("https://thumbs.dreamstime.com/z/abstract-technology-concept-industrial-web-header-banner-vector-template-bridge-landscape-circuit-board-gears-79083330.jpg");
  background-color: #f0eabe;
}

.nav-information {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 0px;
  background-color: #f7f7f7;
  justify-content: space-between;
  width: 100%;
  height: 138px;
}
.navigation-bar ul {
  justify-content: space-between;
  display: flex;
  flex-direction: row-reverse;
}
li {
  padding: 0;
  display: flex;
  text-decoration: none;
  font-size: 30px;
  margin-left: 38px;
}

.about-info {
  display: flex;
  position: relative;
  justify-content: space-evenly;
  background-image: url("https://thumbs.dreamstime.com/z/abstract-technology-concept-industrial-web-header-banner-vector-template-bridge-landscape-circuit-board-gears-79083330.jpg");
}
/* .about-info h2 {
  font-size: 40px;
  margin-right: 40px;
}

.about-info p {
  display: flex;
  font-size: 30px;
  position: relative;
  left: 287px;
} */

/* .work-info {
  display: flex;
  justify-content: space-around;
  position: relative;
  left: 85px;
}
.work-info h3 {
  font-size: 40px;
  margin-left: 40px;
}

.work-info h3 {
  margin-right: 20px;
}

.work-info p {
  display: flex;
  height: 100px;
  justify-content: flex-end;
} */

footer {
  background-color: #f7f7f7;
  margin-bottom: 1%;
}
footer h2 {
  font-size: 50px;
}

footer {
  margin: auto;
  display: flex;
  clear: both;
  position: absolute;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  padding: 0;
  bottom: 0;
}

footer ul {
  align-items: center;
  display: flex;
}

footer li {
  display: flex;
  justify-content: flex-end;
}

.work {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 3rem;
}

.about-me {
  display: flex;
  position: relative;
  justify-content: center;
}

.expertise {
  display: flex;
  position: relative;
  justify-content: center;
}
